@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));



.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
}

.source-serif {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
